{
	"trailingComma": "es5",
	"useTabs": true,
	"tabWidth": 2,
	"semi": true,
	"singleQuote": false,
	"plugins": [
		"prettier-plugin-tailwindcss",
		"@trivago/prettier-plugin-sort-imports"
	],
	"tailwindFunctions": ["clsx"],
	"tailwindPreserveWhitespace": true,
	"importOrder": [
		"^(react|next?/?([a-zA-Z/]*))$",
		"<THIRD_PARTY_MODULES>",
		"^@/(.*)$",
		"^[./]"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
